<ion-view view-title="Bliska pożyczka">
  <ion-content>
    <ion-list>
      <ion-item>
        <span style="margin-right:20px"><i class="icon ion-cash"></i> {{user.value}} zł</span>
		<span style="margin-right:15px"><i class="icon ion-ios-stopwatch-outline"></i> {{user.minutes}} minut</span>
		<span style="margin-right:15px"><i class="icon ion-ios-compose-outline"><i class="icon ion-ios-star"></i><i class="icon ion-ios-star"></i></i></span>
		<span style="float:right;color:blue"><i class="icon ion-ios-gear-outline"></i> zmień</span>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
