<ion-view title="Ustawienia">
<ion-content class="has-header padding">
  <item>Podaj poniższe dane, aby usprawnić proces weryfikacji i wygenerowania umowy. Po złożeniu przez Ciebie wniosku pożyczkowego, dane zostaną automatycznie przekazane do wybranego przez Ciebie punktu pożyczkowego i wprowadzone do umowy pożyczkowej. Wypełnienie poniższego formularza nie jest obowiązkowe, jednak znacznie skraca czas, po którym otrzymasz pieniądze.</item>
  <div class="list">
  <label class="item item-input item-stacked-label">
    <span class="input-label">Imię</span>
    <input type="text" placeholder="tu wpisz swoje imię">
  </label>
  <label class="item item-input item-stacked-label">
    <span class="input-label">Nazwisko</span>
    <input type="text" placeholder="tu wpisz swoje nazwisko">
  </label>
  <label class="item item-input item-stacked-label">
    <span class="input-label">Email</span>
    <input type="text" placeholder="tu wpisz e-mail, na który chcesz potwierdzenie">
  </label>
  <label class="item item-input item-stacked-label">
    <span class="input-label">Telefon</span>
    <input type="text" placeholder="tu wpisz numer telefonu do kontaktu">
  </label>
   <label class="item item-input item-stacked-label">
    <span class="input-label">Dowód osobisty</span>
    <input type="text" placeholder="tu wpisz serię i numer swojego dowodu">
  </label>
</div>
	
</ion-content>
</ion-view>
<ion-footer-bar class="bar-dark">
			<a href="#/t/map/home" nav-clear menu-close class="button button-small button-dark" ">anuluj</button>
			<a href="saveSettings();" class="button button-small button-assertive" style="float:right">zapisz</button>
        </ion-footer-bar>